@font-face {
    font-family: "TT Turns";
    src: url("../fonts/TT_Turns_Trial_Regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "TT Turns";
    src: url("../fonts/TT_Turns_Trial_Medium.woff") format("woff");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "TT Turns";
    src: url("../fonts/TT_Turns_Trial_Italic.woff") format("woff");
    font-style: italic;
    font-weight: 400;
    font-display: swap;
}
